@font-face {
    font-family: "Helvetica Light";
    src: url(../fonts/HelveticaNeue-Light.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: normal 125%/1.4 Helvetica;
}
/* Start Header */
.unbordered{
    padding-top: 12px;
    background-color: #fff;
    position: relative;
}
.header-content{
    padding: 0 5%;
}
.header-top{
    display: block;
}
.header-top .col-auto{
    width: 100%;
    text-align: right;
}
.header-top .col-auto .header-contact{
    display: block;
    font-size: 17px;
    line-height: 1.2;
    color: #151515;
    text-decoration: none;
    font-family: Helvetica;
}
.container .header-bottom{
    flex-wrap: nowrap;
    margin-top: 11px;
}
.btn-toggler-search span{
    font-weight: 900;
}
.col-auto .logo {
    display: flex;
    align-items: center;
    padding-top: 1px;
}
.col-auto .logo .icon-logo{
    width: 31.812px;
    height: 32px;
}
.col-auto .logo .text-logo{
    margin-left: 9px;
    width: 133.312px;
    height: 13.938px;
}
.dropdown-links{
    display: flex;
    padding-top: 1px;
}
.dropdown-links .dropdown{
    font-size: 13px;
    cursor: pointer;
}
.dropdown .dropdown-label{
    position: relative;
    display: block;
    padding: 11px 11px 19px;
    line-height: 1;
}
.fa-angle-down:before {
    content: "\F107";
}
.dropdown .dropdown-menu{
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 2;
    display: none;
    padding: 25px 20px 25px;
    width: 211px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 12px 1px rgba(0,0,0,.3);
    border: none;
    border-radius: 0;
}
.dropdown-menu .dropdown-list .dropdown-link{
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.dropdown-label .hovering{
    text-decoration: none;
    color: #000;
}
.dropdown-label .fas{
    margin-left: 3px;
    font-size: 12px;
}
.dropdown:hover .dropdown-label {
    color: #a50b6b; /* Đổi màu chữ khi hover */
    transform: 0.5s;
}
.dropdown .dropdown-label .hovering:hover{
    color: #a50b6b;
}
.dropdown:hover .fa-angle-down {
    transform: rotate(180deg); /* Quay 180 độ */
    transition: 0.5s;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu .dropdown-list{
    padding-bottom: 12px;
}
.dropdown-menu .dropdown-list .dropdown-link:hover{
    color: #a50b6b;
}
.header-bottom .btn-toggler-menu {
    display: none;
    padding: 17px 14px 17px 5px;
}
.unbordered .container .holder-offcanvas{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.holder-offcanvas .offcanvas {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 0 15px 19px;
    max-height: 500px;
    overflow: auto;
    background-color: #fff;
    visibility: inherit;
}
.holder-offcanvas .offcanvas .holder-accordion {
    padding-left: 0;
    width: 170px;
    list-style: none;
}
.offcanvas .holder-accordion .accordion{
    padding-top: 15px;
    padding-bottom: 15px;
}
.offcanvas .holder-accordion .accordion .label-accordion {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
.holder-accordion .accordion .content-accordion{
    display: none;
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: -16px;
    list-style: none;
    border: solid #e7e7e6;
    border-width: 1px 0;
}
.accordion .content-accordion .link-accordion {
    display: block;
    padding: 10px 14px;
    font-size: 15px;
    color: #9a9a9a;
    text-decoration: none;
}
.offcanvas .holder-accordion .accordion a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.holder-offcanvas .offcanvas a{
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
}
.current{
    display: block !important;
}
.show-content{
    display: block !important;
}

/* Start Search */
.header-search{
    margin-left: auto;
}
.header-search .label-search{
    font-family: Helvetica Light,Arial,sans-serif;
    margin-right: 11px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.header-search .form-header-search{
    position: relative;
    display: inline-block; 
}
.form-header-search .input-search{
    padding: 8px 30px 8px 8px;
    width: 169px;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 15px;
    background-color: #e7e7e6;
    border: 0;
    border-radius: 0;
}
.header-search .btn-search{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 8px;
    font-size: 14px;
    color: #9a9a9a;
    line-height: 1;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.form-header-search .input-search:focus{
    outline: none;
}
.header-bottom .btn-toggler-search {
    display: none;
    padding: 16px 15px 13px;
    width: 47px;
    font-size: 17px;
    color: #000;
    text-align: center;
}
.header-bottom .btn-toggler-menu .menu-bar {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
}

/* End Search */

/* End header */
/* Start main */
.about {
    padding-bottom: 180px;
}
/* Start banner */
.about .section-banner {
    height: 460px;
    color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* End banner */

/* Start section-page-links */
.about .section-page-links {
    padding: 25px 0 21px;
    border-bottom: 1px solid #f2f2f2;
}
.section-page-links .container {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.about .section-page-links .links {
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: none;
}
.about .section-page-links .links li {
    display: inline-block;
    margin-right: 33px;
}
.about .section-page-links .links li a {
    color: #666;
    text-decoration: none;
    font-size: 15px;
}
/* End section-page-links */
/* Start section-details-info */
.section-details-info {
    padding-bottom: 5%;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}
.section-details-info .section-heading {
    margin-bottom: 19px;
    font-family: 'Helvetica Light';
    font-size: 30px;
    font-weight: 600;
}
.section-details-info .section-description {
    margin: 0 auto 10px;
    max-width: 100%;
    text-align: left;
}
.section-description {
    font-family: "Helvetica Light";
    font-size: 15px;
    line-height: 24px;
}
.section-details-info .section-description p:first-child {
    font-size: 21px;
    color: #635e5e;
    line-height: 30px;
}
.section-details-info .section-description p {
    margin-bottom: 8px;
    font-size: 18px;
    color: #635e5e;
    line-height: 30px;
}

.section-details-info .section-description h2 {
    margin: 40px 0 10px;
    font-weight: 400;
    font-size: 24px;
}
.section-details-info .section-description ul {
    margin: 21px 0 8px;
    padding-left: 45px;
}
.section-details-info .section-description ul li {
    margin-bottom: 6px;
    font-size: 18px;
    color: #635e5e;
    line-height: 30px;
}
.section-details-info .section-description ul li a{
    color: #a50b6b;
    text-decoration: none;
}
.show-more {
    padding-bottom: 4px;
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    cursor: pointer;
    transition: border-bottom .25s;
}

/* End section-details-info */


/* Start section-team */
.about .container{
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.about .section-team {
    margin-top: 30px;
    margin-bottom: 61px;
    padding-bottom: 45px;
    border-bottom: 1px solid #f2f2f2 ;
}
.section-team .row{
    text-align: center;
}
.section-team .holder-team {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 58px;
}
.section-team .holder-img {
    margin: auto;
    padding: 6px;
    width: 105px;
    height: 105px;
    overflow: hidden;
    border: 1px solid #e7e7e6;
    border-radius: 50%;

}
.section-team .team-img {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-team .holder-team .desc, .section-team .holder-team .desc-light {
    margin-top: 9px;
    line-height: 1.2;
}

.row .col-12 .desc {
    margin: auto;
    width: 900px;
    max-width: 100%;
    margin-top: 18px;
    font-size: 18px;
    letter-spacing: .1px;
    line-height: 1.6;
    text-align: center;
}
.section-team .holder-team .desc-light {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2px;
    line-height: 1.2;
    color: #9a9a9a;
}
/* End section-team */

/* Start section-promises */
.about .section-promises {
    margin-bottom: 56px;
    padding-bottom: 64px;
    border-bottom: 1px solid #f2f2f2;
}
.about .section-promises .section-heading {
    margin-bottom: 18px;
    text-align: center;
}
.section-heading {
    font-family: Helvetica Bold,Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.about .section-promises .media {
    cursor: default;
}
.media .media-img {
    position: relative;
    z-index: 1;
    height: 228px;
    max-height: 228px;
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about .section-promises .media .media-details {
    padding: 13px 0;
}
.media .media-details {
    position: relative;
    flex-grow: 1;
}
.about .section-promises .media .media-details .subtitle-banner {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}
.about .section-promises .media .media-details .desc-light {
    margin-top: 11px;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 1.6;
}
.media:hover .subtitle-banner {
    text-decoration: underline;
    text-decoration-color: #9a9a9a;
    text-underline-position: under;
}
/* End section-promises */
/* Start featured */
.about .section-featured {
    margin-bottom: 59px;
    padding: 0 0 65px;
    color: #000;
    color: initial;
    background: none;
    border-bottom: 1px solid #f2f2f2;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 1;
}
.about .section-featured .section-heading {
    margin-bottom: 65px;
    text-align: center;
}
.section-heading {
    font-family: Helvetica Bold,Arial,sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.section-featured .row {
    align-items: center;
    justify-content: center;
}
/* End featured */
/* Start section-achievements */
.about .section-achievements .section-heading {
    margin-bottom: 24px;
    text-align: center;
    font-family: Helvetica Bold,Arial,sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.about .section-achievements .achievement {
    padding: 0 5px;
}
.about .section-achievements .achievement .image-holder {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    height: 180px;
    border: 1px solid #efefef;
}
.about .section-achievements .achievement .image-holder img {
    margin: auto;
    max-width: 90%;
    height: auto;
    width: 102px;
}
.about .section-achievements .achievement:nth-child(2) img {
    width: 221px;
}
.about .section-achievements .achievement .name {
    margin: 0 auto;
    max-width: 185px;
    color: #666;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: -.1px;
    line-height: 18px;
    text-align: center;
}
.about .section-achievements .achievement-holder {
    margin: 0 auto;
    max-width: 886px;
}
/* End section-achievements */

/* End main */

/* Start footer */

/* Start footer-top */
.footer-top {
    padding: 50px 0 65px;
    background-color: #f7f7f7;
}
.footer-top .section-book {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 43px;
    padding-bottom: 52px;
    border-bottom: 1px solid #cecece;
}
.footer-top .section-book .heading {
    margin-bottom: 12px;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.footer-top .section-book .desc, .footer .footer-top .section-book .desc-light {
    font-size: 15px;
    line-height: 24px;
}
.col-md-4 .btn-primary-outline {
    margin-top: 46px;
    margin-left: auto;
    max-width: 300px;
    width: 100%;
    letter-spacing: 7.5px;
    display: block;
    font-size: 20px;
    color: #a50b6b;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #a50b6b;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 0;
}
.footer-top .section-book .btn-primary-outline:hover {
    color: #fff;
    background-color: #a50b6b;
    border-color: #a50b6b;
}

.footer-top .section-links .footer-links-heading {
    margin-bottom: 18px;
    font-family: Helvetica Bold,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.footer-top .section-links .footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-top .section-links .footer-links li {
    margin-bottom: 8px;
}
.footer-top .section-links{
    padding: 0 5%;
}
.section-links .rows{
    display: flex;
}
.footer-top .section-links .footer-links li a {
    color: #000;
    font-size: 15px;
    text-decoration: underline;
}
.footer-top .section-links .contact-info .number {
    color: #ae0674;
    font-family: Helvetica Bold,Arial,sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}
.footer-top .section-links .contact-info .time {
    margin: 3px 0 0;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 15px;
}
.footer-top .section-links .contact-info .get-quote {
    margin-top: 23px;
}
.footer-top .section-links .contact-info .get-quote p {
    margin-bottom: 14px;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 15px;
}
.get-quote .btn-primary {
    display: inline-block;
    padding: 12px 23px;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 12.5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #a50b6b;
    text-decoration: none;
}
.get-quote .btn-primary:hover {
    color: #fff;
    text-decoration: none;
    background-color: #920560;
}
.footer-top .section-links .footer-links li a:hover {
    color: #a50b6b;
}
/* End footer top */

/* Start footer-bottom */
.footer-bottom {
    padding: 32px 7% 20px;
}
.footer-bottom .container .row .info {
    margin-bottom: 18px;
    font-family: Helvetica Light,Arial,sans-serif;
    font-size: 15px;
}
.col-lg-8 .info p{
    margin: 0;
}
.footer-bottom .copyright-text {
    color: #666;
    font-size: 12px;
    font-family: Helvetica Light,Arial,sans-serif;
}
.footer-bottom .footer-logos {
    padding-right: 0;
    list-style: none;
    text-align: right;
    display: flex;

}
.footer-bottom .footer-logos li:first-child img {
    width: 80px;
}
.footer-bottom .footer-logos li:nth-child(2) img {
    margin-top: 6px;
    width: 88px;
}
.footer-bottom .footer-logos li:last-child img {
    margin-top: -25px;
    width: 98px;
}
.footer-bottom .footer-logos li:first-child {
    margin-left: 26%;
}
/* End footer-bottom */

/* End footer */


@media (max-width: 1200px) {
    /* Start header */
    .unbordered{
        padding: 0;
    }
    .header-content{
        padding: 0;
        width: 100%;
    }
    .unbordered .container{
        padding: 0 5px;
        max-width: 100%;
    }
    /* End header */
}
@media (max-width: 991px){
    /* Start header */
    .unbordered .container .header-content .header-top{
        display: none;
    }.header-content .header-bottom .dropdown-links,
    .header-content .header-bottom .header-search{
        display: none;
    }
    .header-bottom .btn-toggler-search {
        display: block;
    }
    .header-bottom .btn-toggler-menu {
        display: block;
        width: 50px;
        height: auto;
    }
    .unbordered .container .header-content .header-bottom {
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
    }
    /* End header */
}
@media screen and (max-width: 767px){
    /* Start-footer */
    .footer-top .section-book .btn-primary-outline {
        margin-top: 37px;
        max-width: 100%;
    }
    .footer-top {
        padding: 37px 0 39px;
    }
    .footer-bottom .footer-logos li:first-child {
        margin: 0 ;
    }
    .footer-bottom .footer-logos li:first-child img {
        width: 50px;
    }
    .footer-bottom .footer-logos li:nth-child(2) img {
        margin-top: 6px;
        width: 58px;
    }
    .footer-bottom .footer-logos li:last-child img {
        margin-top: -25px;
        width: 68px;
    }
    /* End footer */
}

